aiofiles
aiohttp
beautifulsoup4
certifi
django
django-after-response
django-cors-headers
django-environ
docx2txt
faiss-cpu
langchain-community
langchain-openai
langchain-text-splitters
langdetect
markdown
openai
openai-agents
pdfminer.six
pypdf
pypdfium2
pillow
pycryptodome
PyPDF2
python-docx
python-dotenv
reportlab
requests
urllib3
uvicorn
gunicorn
docxcompose
legacy-cgi